node_modules
packages/**/node_modules
packages/**/build
packages/**/dist

**/*.tsbuildinfo

packages/core/build-loader

packages/site/.docusaurus
packages/site/.cache-loader
packages/site/static/wasm

config/cypress/screenshots
config/cypress/downloads
config/cypress/extensions
